@keyframes leftToRight {
    0% {
        opacity: 0;
        transform: translateX(-80%);
    }

    30% {
        transform: translateX(-40%);
    }

    100% {
        opacity: 1;
        transform: translateX(10%);
    }
}