@include normalize();

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 8px;

  @include extra-small {
    font-size: 10px;
  }

  @include large {
    font-size: 8px;
  }

  @include extra {
    font-size: 9px;
  }

  @include extra-large {
    font-size: 10px;
  }
}

html,
body {
  background: #F5F5F5;
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: $base-font;
  font-size: 1.6rem;
}

.content {
  flex: 1 0;
}

.container {
  display: flex;
  width: 100%;
  max-width: 192rem;
  // max-width: 180rem;
  padding: 0 1rem;
  margin: 0 auto;

  @include medium {
    padding: 0 3rem;
  }

  @include large {
    padding: 0 6rem;
  }
}