<section class="about">

    <div class="container container--about">

        <div class="about__partners">
            <span>Our partners</span>
            <p class="about__partners-title">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p class="about__partners-description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur incidunt harum voluptatum
                architecto minus neque. Repudiandae quaerat ipsam pariatur quis tenetur, placeat dolorum corrupti eius.
                Explicabo nam distinctio beatae ad.
            </p>

            <a href="#">Read all</a>
        </div>

        <div class="about__emilliyo">
            <div class="about__emilliyo-img">&nbsp;</div>

            <div class="about__emilliyo-content">
                <span>Our partners</span>
                <p class="about__emilliyo-title">
                    About Emilliyo
                </p>
                <p class="about__emilliyo-description">
                    Our company is the largest in Israel in the field of shopping trolleys for supermarkets and stores.
                    In addition, the company imports plastic baskets and conveying and shelving equipment and displays
                    of various kinds, and provides maintenance services for all of these products.
                </p>

                <a href="#">Discover more</a>
            </div>
        </div>
    </div>
</section>