<section class="about">

    <div class="container container--about">

        <div class="about__partners">
            <span>Our partners</span>
            <p class="about__partners-title">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </p>
            <p class="about__partners-description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aspernatur incidunt harum voluptatum
                architecto minus neque. Repudiandae quaerat ipsam pariatur quis tenetur, placeat dolorum corrupti eius.
                Explicabo nam distinctio beatae ad.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit minima sit ea laudantium quo. Aperiam
                obcaecati rerum, a, veniam atque molestias nisi est ut quo consectetur eveniet in nobis iure?
            </p>

            <a href="#">Read all</a>
        </div>

        <div class="about__emilliyo">
            <div class="about__emilliyo-img">&nbsp;</div>

            <div class="about__emilliyo-content">
                <span>About Emilliyo</span>

                <p class="about__emilliyo-content-description">
                    Our company is the largest in Israel in the field of shopping trolleys for supermarkets and stores.
                    In addition, the company imports plastic baskets and conveying and shelving equipment and displays
                    of various kinds, and provides maintenance services for all of these products.
                </p>

                <a href="#" class="about__emilliyo-content-more">Discover more</a>
                <a href="#" class="about__emilliyo-content-follow">Follow us</a>

                <a href="#">

                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35">
                        <path id="Path_170" data-name="Path 170" d="M30.625,0H4.375A4.379,4.379,0,0,0,0,4.375v26.25A4.379,4.379,0,0,0,4.375,35H17.5V22.969H13.125V17.5H17.5V13.125a6.562,6.562,0,0,1,6.563-6.562h4.375v5.469H26.25c-1.208,0-2.187-.114-2.187,1.094V17.5h5.469l-2.187,5.469H24.063V35h6.563A4.379,4.379,0,0,0,35,30.625V4.375A4.379,4.379,0,0,0,30.625,0Z" />
                    </svg>

                </a>
            </div>
        </div>
    </div>
</section>