.header {
  width: 100%;
}

.container--topbar {
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.topbar {
  background-color: #fff;

  &__wrap {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: flex-end;
    height: 8rem;
  }

  &__logo {
    padding: 3px;
    display: flex;
    align-items: center;

    &-img {
      width: 8rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;
    position: relative;

    &-item {
      padding-right: 1.5rem;
      display: none;

      @media screen and (min-width: 832px) {
        display: inline-block;
      }

    }

    &-link {
      text-decoration: none;
      color: $primary;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__tel {
    padding-right: 8rem;

    i {
      color: #c7c7c7;
      padding: 0 .5rem 0 1rem;
    }

    &-number {
      text-decoration: none;
      color: $primary;

      span {
        color: #c7c7c7;
      }
    }

    @include medium {
      padding-right: 6rem;
    }

    @include large {
      padding-right: 3rem;
    }
  }

  &__lang {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e7e7e7;
    width: 6rem;
    height: 8rem;
    z-index: 999;

    &-switch {
      height: 50%;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8d8d8d;
      text-decoration: none;
    }

    &-switch.active {
      background-color: #d9d9d9;
      font-size: 1.6rem;
      color: #000;
      display: flex;

    }
  }
}

.container--menu-header {
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

.menu-header {
  display: flex;
  background-color: $secondary;
  color: #fff;

  @include large {
    padding-left: 0;
  }

  &__nav {
    display: flex;
    align-items: center;
    position: relative;


    &-title {
      font-size: 2rem;
      font-weight: 600;
      display: inline-block;
    }
  }

  &__user-action {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-text {
      display: inline-block;
      font-weight: 300;
      font-size: 1.4rem;
      padding-top: 5px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    &-login {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    &-compare {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      &-counter {
        position: absolute;
        top: 6%;
        right: 22%;
        background: #FF0001;
        width: 1.8rem;
        height: 1.8rem;
        text-align: center;
        border-radius: 50%;
        font-size: 1.3rem;
        font-weight: 300;
        padding: 2px 0;
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }

      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }

    }

    &-cart {
      height: 100%;
      padding: 2rem 1.5rem;
      display: flex;
      align-items: flex-end;
      transition: all 0.3s;
      position: relative;

      span {
        padding-left: 0.5rem;
      }

      &:hover,
      &:active {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.counter-compare {
  position: absolute;
  top: 6%;
  right: 22%;
  background: #FF0001;
  width: 1.8rem;
  height: 1.8rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 2px 0;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
}

.counter-cart {
  position: absolute;
  top: 30%;
  right: 10%;
  background: #FF0001;
  width: 3.6rem;
  height: 1.8rem;
  text-align: center;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 2px .5rem 0;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
}

.navigation-header {
  opacity: 0;
  display: none;
  top: 7rem;
  left: 0;
  background: #fff;
  padding-right: 3.5rem;
  padding-bottom: 2rem;
  position: absolute;
  flex: 1.8 0;
  height: 100%;
  opacity: 0;
  transition: all .2s;
  height: inherit;
  z-index: -1;

  @include large {
    display: block;
    margin-right: 2rem;
    padding-bottom: 0;
    transform: translateX(-6rem);
    padding-left: 6rem;
  }

  &.active {
    z-index: 999;
    width: 100vw;
    transform: translateX(-1rem);
    opacity: 1;

    @include medium {
      width: 95vw;
    }

    @include large {
      width: auto;
      transform: translateX(-6rem);
    }
  }

  @include extra {
    flex: 1.4 0;
  }

  @include large {
    display: block;
  }

  @include extra-large {
    flex: 1.1 0;
  }

  &__list {
    list-style: none;
    padding: 0;
    width: 21.5rem;
  }

  &__item {
    padding-left: 3rem;

    @include large {
      padding-left: 0;
    }
  }

  a {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 2rem 0.5rem;
    color: $primary;
    text-decoration: none;
    transition: all 0.2s;
    border-bottom: 2px solid $light-gray;

    &:hover {
      transform: translateY(-3px);
      color: $secondary;

      svg {
        fill: $secondary;
      }
    }

    &:active,
    &:focus {
      outline: none;
      transform: translateY(-1px);
      color: $secondary;

      svg {
        fill: $secondary;
      }
    }

    @include extra-large {
      padding: 3rem 0.5rem;
    }
  }

  svg {
    margin-right: 1rem;
  }
}

.burger-menu-btn {
  position: relative;
  display: block;
  width: 6rem;
  height: 6rem;
}

.burger-menu-btn span::before,
.burger-menu-btn span::after,
.burger-menu-btn span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -15px;
  width: 30px;
  height: 3px;
  display: block;
  background-color: #fff;
  transition: transform 0.4s ease;
}

.burger-menu-btn span::before,
.burger-menu-btn span::after {
  content: "";
}

.burger-menu-btn span::before {
  transform: translateY(-10px);
}

.burger-menu-btn span::after {
  transform: translateY(10px);
}

.burger-menu-btn_active span {
  transform: rotate(45deg);

  @include large {
    transform: rotate(0);
  }
}

.burger-menu-btn_active span::before {
  transform: rotate(0deg);
  display: none;


  @include large {
    display: block;
    transform: translateY(-10px);
  }
}

.burger-menu-btn_active span::after {
  transform: rotate(-90deg);

  @include large {
    transform: rotate(0);
    transform: translateY(10px);
  }
}