.header {
  position: fixed;
  width: 100%;
}

.container--topbar {
  justify-content: space-between;
  position: relative;
}

// .topbar__ {
//   display: flex;
//   align-items: center;
//   align-content: space-around;
//   justify-content: flex-end;
//   height: 8rem;

//   h2 {
//     margin-bottom: 2px;
//   }
// }

.topbar {
  background-color: #fff;

  &__wrap {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: flex-end;
    height: 8rem;

    //   h2 {
    //     margin-bottom: 2px;
    //   }
  }

  &__logo {
    padding: 3px;
    display: flex;
    align-items: center;

    &-img {
      width: 8rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;

    &-item {
      padding-right: 1.5rem;
      display: none;

      @include medium {
        display: inline-block;
      }
    }

    &-link {
      text-decoration: none;
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }
  }

  &__burger {
    width: 2rem;
    height: 3px;
    background: #000;
    position: relative;
    margin-right: 3rem;

    &:before {
      content: "";
      width: 2rem;
      height: 3px;
      background: #000;
      position: absolute;
      top: -6px;
    }

    &:after {
      content: "";
      width: 2rem;
      height: 3px;
      background: #000;
      position: absolute;
      bottom: -6px;
    }

    @include medium {
      display: none;
    }
  }

  &__tel {
    padding-right: 8rem;

    i {
      color: #c7c7c7;
    }

    &-number {
      text-decoration: none;
      color: $primary;

      span {
        color: #c7c7c7;
      }
    }

    @include medium {
      padding-right: 6rem;
    }

    @include large {
      padding-right: 3rem;
    }
  }

  &__lang {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e7e7e7;
    width: 6rem;
    height: 100%;

    &-switch {
      height: 50%;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        color: #8d8d8d;
      }
    }

    &-switch.active {
      background-color: #d9d9d9;
      font-size: 1.6rem;

      a {
        color: #000;
      }
    }
  }
}

.container--menu-header {
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}

.menu-header {
  display: flex;
  background-color: $secondary;
  color: #fff;

  &__nav {
    display: flex;
    align-items: center;

    &-burger {
      width: 2rem;
      height: 2px;
      background: rgb(255, 255, 255);
      position: relative;
      margin-right: 1rem;

      &:before {
        content: "";
        width: 2rem;
        height: 2px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: -6px;
      }

      &:after {
        content: "";
        width: 2rem;
        height: 2px;
        background: rgb(255, 255, 255);
        position: absolute;
        bottom: -6px;
      }
    }

    &-title {
      font-size: 2rem;
      font-weight: 600;
      display: inline-block;
    }
  }

  &__user-action {
    // width: 25rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-login {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    &-compare {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    &-cart {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    span {
      display: inline-block;
      font-weight: 300;
      font-size: 1.4rem;
      padding-top: 5px;
    }
  }
}

.section {
  height: 100rem;
  background: #eee;
}
