.header {
  width: 100%;
}

.container--topbar {
  justify-content: space-between;
  position: relative;
  z-index: 999;
}

.topbar {
  background-color: #fff;

  &__wrap {
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: flex-end;
    height: 8rem;
  }

  &__logo {
    padding: 3px;
    display: flex;
    align-items: center;

    &-img {
      width: 8rem;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    align-content: center;
    list-style: none;

    &-item {
      padding-right: 1.5rem;
      display: none;

      @include medium {
        display: inline-block;
      }
    }

    &-link {
      text-decoration: none;
      color: $primary;
      cursor: pointer;

      &:hover {
        color: $secondary;
      }
    }
  }

  // &__burger {
  //   width: 2rem;
  //   height: 3px;
  //   background: #000;
  //   position: relative;
  //   margin-right: 3rem;

  //   &:before {
  //     content: "";
  //     width: 2rem;
  //     height: 3px;
  //     background: #000;
  //     position: absolute;
  //     top: -6px;
  //   }

  //   &:after {
  //     content: "";
  //     width: 2rem;
  //     height: 3px;
  //     background: #000;
  //     position: absolute;
  //     bottom: -6px;
  //   }

  //   @include medium {
  //     display: none;
  //   }
  // }

  &__tel {
    padding-right: 8rem;

    i {
      color: #c7c7c7;
    }

    &-number {
      text-decoration: none;
      color: $primary;

      span {
        color: #c7c7c7;
      }
    }

    @include medium {
      padding-right: 6rem;
    }

    @include large {
      padding-right: 3rem;
    }
  }

  &__lang {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e7e7e7;
    width: 6rem;
    height: 8rem;
    z-index: 999;

    &-switch {
      height: 50%;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #8d8d8d;
      text-decoration: none;
    }

    &-switch.active {
      background-color: #d9d9d9;
      font-size: 1.6rem;
      color: #000;
      display: flex;

    }
  }
}

.container--menu-header {
  height: 8rem;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}



.menu-header {
  display: flex;
  background-color: $secondary;
  color: #fff;
  padding-left: 6rem;

  @include large {
    padding-left: 0;
  }

  &__nav {
    display: flex;
    align-items: center;

    &-burger {
      width: 2rem;
      height: 2px;
      background: rgb(255, 255, 255);
      position: relative;
      margin-right: 1rem;

      @include large {
        display: none;
      }

      &:before {
        content: "";
        width: 2rem;
        height: 2px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: -6px;
      }

      &:after {
        content: "";
        width: 2rem;
        height: 2px;
        background: rgb(255, 255, 255);
        position: absolute;
        bottom: -6px;
      }
    }

    &-burger-desk {
      display: none;
      width: 2rem;
      height: 2px;
      background: rgb(255, 255, 255);
      position: relative;
      margin-right: 1rem;

      @include large {
        display: block;
      }

      &:before {
        content: "";
        width: 2rem;
        height: 2px;
        background: rgb(255, 255, 255);
        position: absolute;
        top: -6px;
      }

      &:after {
        content: "";
        width: 2rem;
        height: 2px;
        background: rgb(255, 255, 255);
        position: absolute;
        bottom: -6px;
      }
    }

    &-title {
      font-size: 2rem;
      font-weight: 600;
      display: inline-block;
    }
  }

  &__user-action {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      text-decoration: none;
      color: #fff;
    }

    &-login {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    &-compare {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    &-cart {
      height: 100%;
      padding: 0 1.5rem;
      display: flex;
      align-items: center;
      transition: all 0.3s;

      &:hover,
      &:active {
        box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.2);
      }
    }

    span {
      display: inline-block;
      font-weight: 300;
      font-size: 1.4rem;
      padding-top: 5px;
    }
  }
}



//HAMBURGER MENU
.menu-header {
  &__checkbox {
    display: none;
  }

  &__button {
    position: absolute;
    height: 7rem;
    width: 7rem;
    top: -7.5rem;
    left: 0rem;
    z-index: 2000;
    text-align: center;
    cursor: pointer;

    @include medium {
      left: 2rem;
    }

    @include large {
      display: none;
    }
  }

  //FUNCTIONALITY

  &__checkbox:checked~.navigation-aside {
    // display: block;
    transform: translateX(-4%);
    height: auto;
    width: 103%;
    z-index: 999;
  }

  //ICON
  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked+&__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked+&__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &__checkbox:checked+&__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}