<header class="header">

  <!-- TOPBAR -->
  <div class="topbar">

    <div class="container container--topbar">

      <div class="topbar__logo">
        <img src="img/logo.png" alt="logo" class="topbar__logo-img">
      </div>

      <div class="top-bar">

        <div class="topbar__burger"></div>

        <ul class="topbar__nav">
          <li class="topbar__nav-item"><a href="#" class="topbar__nav-link">Cheating</a></li>
          <li class="topbar__nav-item"><a href="#" class="topbar__nav-link">Repair services</a></li>
          <li class="topbar__nav-item"><a href="#" class="topbar__nav-link">About us</a></li>
          <li class="topbar__nav-item"><a href="#" class="topbar__nav-link">Blog</a></li>
          <li class="topbar__nav-item"><a href="#" class="topbar__nav-link active">Contact us</a></li>
        </ul>

        <div class="topbar__tel">
          <i class="fas fa-mobile-alt"></i>
          <a class="topbar__tel-number" href="tel:0800300353"><span>0 800</span> 300 353</a>
        </div>
      </div>

      <div class="topbar__lang">
        <div class="topbar__lang-switch active"><a href="#">En</a></div>
        <div class="topbar__lang-switch"><a href="#">עברית</a></div>
      </div>
    </div>

  </div>
  <!-- //TOPBAR -->

  <div class="menu-header">

    <div class="container container--menu-header">

      <div class="menu-header__nav">
        <div class="menu-header__nav-burger"></div>

        <div class="menu-header__nav-title">
          <span>Catalog</span>
        </div>

      </div>
    </div>

  </div>



</header>



<div class="section"></div>