.main {
    display: flex;
    padding-bottom: 5rem;
}

.container--main {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
        @include large {
            content: "";
            position: absolute;
            background: #fff;
            top: 0;
            left: 0;
            width: 6rem;
            height: 100%;
        }
    }

    @include extra-large {
        height: 77vh;
    }

    @include large {
        flex-direction: row;
    }

    transition: all .2s;

}

.navigation-aside {
    background: #fff;
    padding-top: 2rem;
    padding-right: 3.5rem;
    padding-bottom: 2rem;
    position: absolute;
    flex: 1.8 0;
    // display: none;
    height: 100%;
    transform: translateX(-111%);

    transition: all .5s;


    @include large {
        margin-right: 2rem;
        padding-bottom: 0;

    }

    &.active {
        // padding-left: 3rem;
        margin: 0;
        transform: translateX(0);
        z-index: 999;
        width: 95vw;
        // height: 100vh;

        @include medium {
            width: 93vw;
        }
    }

    @include extra {
        flex: 1.4 0;
    }

    @include large {
        position: relative;
        transform: translateX(0);
        display: block;
    }

    @include extra-large {
        flex: 1.1 0;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        padding-left: 3rem;

        @include large {
            padding-left: 0;
        }
    }

    a {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2rem 0.5rem;
        border-bottom: 2px solid $light-gray;
        color: $primary;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            transform: translateY(-3px);
            color: $secondary;

            svg {
                fill: $secondary;
            }
        }


        &:active,
        &:focus {
            outline: none;
            // display: block;
            transform: translateY(-1px);
            color: $secondary;

            svg {
                fill: $secondary;
            }
        }

        @include extra-large {
            padding: 3rem 0.5rem;
        }
    }

    svg {
        margin-right: 1rem;
    }
}

.slider-container {
    flex: 6 0;
    display: flex;
    flex-direction: column;
}

.slider-main {
    margin: 2rem 0;
    flex: 6 0;
    display: none;
    background: bottom/cover no-repeat url(../img/slide-main.png);


    @include medium {
        display: block;
        height: 40rem;
    }

    &__boxes {
        display: flex;
        position: relative;
        flex-direction: column;

        @include large {
            flex-direction: row;
            justify-content: flex-start;
        }

        &-content {
            display: flex;
            align-content: center;
            align-items: center;
            width: 100%;
            margin: 1rem auto;
            background-color: #fff;
            padding: 2rem 2.5rem;

            @include large {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                width: 20%;
                margin: 0 2rem 0 0;
                padding: 1rem 1.5rem;
            }

            @include extra-large {
                flex-direction: row;
                align-items: center;
                width: 25%;

            }

            span {
                padding-right: 2rem;
                font-size: 3rem;
                font-weight: 600;

                @include large {
                    font-size: 2rem;
                }
            }

        }


    }

    &__big-btn {
        background: $secondary;
        color: #fff;
        padding: 4rem 2rem;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        transition: all .2s;
        cursor: pointer;
        margin: 0 3px;
        margin-bottom: 20px;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(#000, .2);
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(#000, .2);
        }


        @include large {
            position: absolute;
            right: 15%;
            bottom: 0;
            width: 18%;
            height: 20rem;
            padding: 4rem 1.5rem;
            margin-bottom: 0;
        }

        @include extra-large {
            right: 7%;
            width: 13%;
            padding: 4rem 2.5rem;
        }
    }
}


.burger-menu-btn {
    position: relative;
    display: block;
    width: 6rem;
    height: 6rem;

    @include large {
        display: none;
    }
}

.burger-menu-btn span::before,
.burger-menu-btn span::after,
.burger-menu-btn span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -15px;
    width: 30px;
    height: 2px;
    display: block;
    background-color: #fff;
    transition: transform 0.4s ease;
}

.burger-menu-btn span::before,
.burger-menu-btn span::after {
    content: '';
}

.burger-menu-btn span::before {
    transform: translateY(-10px);
}

.burger-menu-btn span::after {
    transform: translateY(10px);
}

.burger-menu-btn_active span {
    transform: rotate(45deg);
}

.burger-menu-btn_active span::before {
    transform: rotate(0deg);

}

.burger-menu-btn_active span::after {
    transform: rotate(-90deg);

}