<footer class="footer">
  <div class="container container--footer">

    <div class="footer__contacts-red">

      <p>Get in touch</p>

      <a href="tel:0800300353">0 800 300-353</a>

      <p>Call Center work schedule</p>
      <p>Mo-Fr 08:30 - 21:00</p>
      <p> Sa-Su 08:30 - 21:00</p>
      <p>Free from stationary and mobile phones in Israel</p>
      <a href="#">Back call</a>
      <a href="#">Write to us</a>

    </div>

    <div class="footer__nav">
      <div>
        <span class="footer__nav-list-title">Company</span>
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Information about us</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Career</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Mission. Values</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Social responsibility</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Press office</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Progress</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Tenders</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Retail Property</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate Sales</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate contacts</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Eco class</a></li>
        </ul>
      </div>

      <div>
        <span class="footer__nav-list-title">Company</span>
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Information about us</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Career</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Mission. Values</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Social responsibility</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Press office</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Progress</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Tenders</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Retail Property</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate Sales</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate contacts</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Eco class</a></li>
        </ul>
      </div>

      <div>
        <span class="footer__nav-list-title">Company</span>
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Information about us</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Career</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Mission. Values</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Social responsibility</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Press office</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Progress</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Tenders</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Retail Property</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate Sales</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate contacts</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Eco class</a></li>
        </ul>
      </div>

      <div>
        <span class="footer__nav-list-title">Company</span>
        <ul class="footer__nav-list">
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Information about us</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Career</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Mission. Values</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Social responsibility</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Press office</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Progress</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Tenders</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Retail Property</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate Sales</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Corporate contacts</a></li>
          <li class="footer__nav-item"><a href="#" class="footer__nav-link">Eco class</a></li>
        </ul>
      </div>
    </div>



    <div class="footer__logo">
      <img src="img/logo-1.png" alt="">
      <p>All rights reserved
        "Emiliyo" Copyright
        © 2019</p>
    </div>

  </div>
</footer>