<section class="news">
    <div class="container container--news">
        <div class="news__item">
            <img src="../img/news1.png" alt="" class="news__item-img">
            <span>News</span>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem?
            </a>
        </div>

        <div class="news__item">
            <img src="../img/news1.png" alt="" class="news__item-img">
            <span>News</span>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem?
            </a>
        </div>

        <div class="news__item">
            <img src="../img/news1.png" alt="" class="news__item-img">
            <span>News</span>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem?
            </a>
        </div>

        <div class="news__item">
            <img src="../img/news1.png" alt="" class="news__item-img">
            <span>News</span>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem?
            </a>
        </div>
    </div>
</section>