<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link rel="stylesheet" href="css/main.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
  {% include 'components/Layout/Header/header.html' %}


  {% block content %}{% endblock %}


  {% include 'components/Layout/Footer/footer.html' %}
</body>

</html>