.container--popular {
    flex-direction: column;
}

.popular {
    &__title {
        text-align: center;
        font-size: 2rem;
        padding-bottom: 2rem;

        @include small {
            text-align: left;
            font-size: 3rem;
        }
    }

    &__products {
        display: flex;

        &-list {
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            margin: 0 auto;

            @include small {
                flex-direction: row;
                flex-wrap: wrap;
            }

            &-item {
                margin: 0 auto;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: flex-start;
                background-color: #fff;
                margin-bottom: 2rem;
                padding: 2.5rem;
                position: relative;
                transition: all .2s;

                &:hover {
                    box-shadow: 0 1rem 2rem rgba(#000, .2);
                }

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: 0 .5rem 1rem rgba(#000, .2);
                }

                @include large {
                    width: 23%;
                }

                &-img {
                    max-width: 70%;
                    height: auto;
                    margin: 2rem auto;
                }

                &-title {
                    text-decoration: none;
                    color: #000;
                    cursor: pointer;
                    font-weight: bold;
                    font-size: 1.8rem;
                    padding-bottom: 1rem;
                }

                &-rating {
                    color: $secondary-text;
                    padding-bottom: 2rem;
                    font-size: 1.2rem;
                }

                &-buy {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                &-price {
                    font-weight: bold;
                    font-size: 2rem;
                }
            }
        }

    }
}

.compare {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.btn {
    text-decoration: none;
    background: $secondary;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 3px
}

.btn {

    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1rem 5rem;
        border-radius: 3px;
        transition: all .2s;
        font-size: 1.6rem;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba(#000, .2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(#000, .2);
    }
}

.stars {
    color: rgb(255, 208, 0);
}

.product-icon {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem;

    svg {
        margin-bottom: 1rem;
        background: #fff;
        box-shadow: 0 .5rem 1rem rgba(#000, .2);
        padding: 0.2rem;
        width: 3rem;
        height: 3rem;
        border-radius: 4px;


    }
}